.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;    
}

html, body {
    height: 100%;
}

html {
    margin: 0%;
}

body {
    margin: 0%;
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
}

h1 {
    font-size: 47px;
    font-family: 'Nixie One', 'Staatliches', 'Bebas Neue', serif;
    line-height: 24px;
}

#firstLine {
    color: #B6C250;
}
#secondLine {
    margin-left: 25px;
    color: #D35786;
}

h2 {
    font-size: 50px;
    font-family: 'Nixie One', 'Staatliches', 'Bebas Neue', serif;
    letter-spacing: 10px;
    line-height: 30px;
    color: white;
    font-weight: 700;
    text-shadow: 1px 1px 2px #000000;
}

h3{
    font-size: 37px;
    font-family: 'Nixie One', 'Staatliches', 'Bebas Neue', serif;
    letter-spacing: 2px;
    line-height: 30px;
    color: #D35786;
    /* font-weight: 700; */
}

p, li {
    font-size: 24px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.miniNav {
    display: none;
}

/* Sidebar (Desktop) --------------------------- */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    max-width: 100%;
    min-width: 300px;
    height: 100%;
    position: relative;
}

.sidebarWrapper {
    position: absolute;
    bottom: 25%;
    text-align: left;
    padding: 45px;
    margin: 12px;
}

.nav ul {
    position: absolute;
    text-align: center;
    left: 16%;
    padding-top: 30px;
    line-height: 2;
}

#profileImg {
    background-image: url('/profile-2022.jpeg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-radius: 100%;
    margin-bottom: 10px;

}

.nav li {
    list-style: none;
    font-family: 'Arvo', serif;
    letter-spacing: 3px;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: #D35786;
}

/* Content Div (Desktop) --------------------------- */
.contentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 194, 80);
    min-width: 50%;
    width: 100%;
    height: 100%;
    position: relative;
}

.contentDiv a {
    color: #D35786;
}

.contentDiv a:hover {
    color: #443B2E;
}

.aboutMe, .contactFormDiv, .experienceDiv {
    padding: 50px;
    margin: 50px;
    background-color: rgba(253, 253, 253, 0.65);
    max-width: 70%;
    max-height: 85%;
    overflow: auto;
    scroll-behavior: smooth;
    border-radius: 25px;
}

/* .aboutMe {
    display:block;
} */

.contactForm {
    margin-top: 50px;
}

/* About Me (Desktop) --------------------------- */
#greeting {
    padding-bottom: 2%;
}


table {
    font-size: 20px;
    width: 50%;
    margin-left: 25%;
}

table td {
    padding-left: 3%;
    padding-right: 3%;
}

.arrows {
    color: #D35786;
}
/* Contact Form (Desktop) --------------------------- */
.contactFormDiv {
    display: none;
}

.contactForm ul li {
    list-style: none;
    margin: 10px;
}

input {
    width: 200px;
}

textarea {
    vertical-align: top;
    height: 150px;
    width: 350px;
    margin: 10px;
}

/* Projects (Desktop) --------------------------- */
.projects {
    display: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.projectsTitle, .experienceTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.projectsCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    padding: 3rem;
    overflow: scroll;
    scroll-behavior: smooth;
}

.card {
    width: 75%;
    height: auto;
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    background-color: rgba(253, 253, 253, 0.65);
    border-radius: 25px;
    padding: 3%;
    margin-bottom: 2%;
}

.card header {
    text-align: left;
}

.card h2 {
    font-size: 12px;
}

.innerCardDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.projDesc p {
    max-width: 95%;
    max-height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.cardFooter img {
    border: 1px solid #D35786;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;

}

/* Experience (Desktop) --------------------------- */
.experienceDiv {
    width: 100%;
}

.experienceDiv h3 {
    color: black;
}

.experienceDiv a {
    text-decoration: none;
}


/* Media Queries (Mobile) --------------------------- */
 @media (max-width: 900px) {
    .sidebar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        background-color: white;
        height: 100%;
        position: relative;
    }

    /* SideBar (Mobile) --------------------------- */
    .sidebarWrapper {
        display: none;
    }

    /* NavBar (Mobile) --------------------------- */
    .miniNav {
        display: block;
    }

    .sidebarHeading {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5%;
    }
    
    #profileImg {
        margin-left: 20%;
        max-width: 50%;
        border-radius: 25px;
    }

    .navBar {
        display: flex;
        align-content: flex-end;
        background-color: #D35786;
        color: white;
        font-family: 'Arvo', serif;
        letter-spacing: 3px;
        align-items: right;
    }

    h1 {
        font-size: 50px;
        font-family: 'Nixie One', 'Staatliches', 'Bebas Neue', serif;
        line-height: 24px;
    }

    #firstLine {
        color: #B6C250;
        align-self: center;
    }
    #secondLine {
        color: #D35786;
        align-self: center;
    }

    .nav ul {
        position: absolute;
        border: 2px solid black;
        text-align: center;
        left: 16%;
        padding: 30px;
        line-height: 2;
    }
    
    .nav li {
        list-style: none;
        font-family: 'Arvo', serif;
        letter-spacing: 3px;
        border: 2px solid black;
        padding: 20px;
        margin: 20px 2px 10px 2px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center; 
        align-content: center;   
    }
    .contentDiv {
        width: 100%;
    }
    .aboutMe, .contactFormDiv {
        width: 100%;
        overflow: auto;
        scroll-behavior: smooth;
    }
 }
