.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;    
}

html, body {
    height: 100%;
    /* background-color: blue; */
}

html {
    margin: 0%;
    /* width: 0% */
}

body {
    margin: 0%;
    color: white;
    font-family:'Times New Roman', Times, serif;
}

h1 {
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;

}

p, li {
    font-size: 25px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Sidebar --------------------------- */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
    max-width: 100%;
    min-width: 300px;
    height: 100%;
    position: relative;
}

.sidebarWrapper {
    position: absolute;
    bottom: 20%;
    text-align: left;
    padding: 45px;
    margin: 12px;
}

.nav ul {
    position: absolute;
    text-align: center;
    left: 2rem;
}

#profileImg {
    background-image: url('./profile-2022.jpeg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-radius: 100%;
    margin-bottom: 10px;

}

.nav li {
    list-style: none;
}

/* Content Div */
.contentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
    min-width: 50%;
    width: 100%;
    height: 100%;
}

.content {
    padding: 50px;
    /* margin: 50px; */
}
.aboutMe {
    display:block;
}

/* Contact Form */
.contactFormDiv {
    display: none;
}

.contactForm ul li {
    list-style: none;
    margin: 10px;
}

input {
    width: 200px;
}
textarea {
    vertical-align: top;
    height: 150px;
    width: 350px;
    margin: 10px;
}

